body{
	font-family: 'Archivo Narrow', sans-serif;
}
h1{
	margin: 0 0 0 0;
	font-size: 60pt;
	text-align: center;
	padding: 0;
	margin-bottom: 0pt;
}
h2{
	margin-top: 0;
	font-size: 22.5pt;
	text-align:center;
}
header{
	font-weight: 700;
	margin: 0 0 0 0;
	padding: 150px 0 158px 0;
	background-color: rgba(333, 0, 3, .5);
	background-image: url('../images/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
em{
	font-style: italic;
}



section{
	text-align: left;
}
section > div{
	width: 960px;
	margin: auto;
	padding: 38.6px 0 35px 0;
	/* background-color: rgba(0, 333, 0, .25); */
}
section.section_one{
	background-color: #b4cfce;
	padding-bottom: 21px;
}
h3{
	margin: 0 0 32px 0;
	font-weight: 700;
	font-family: 'Archivo Narrow', sans-serif;
	text-align: center;
	font-size: 30pt;
}
p{
	font-size: 18px;
	margin: 16px 0 0 0;
	font-weight: 500;
	letter-spacing: -.23px;
	line-height: 25px;
}
.section_one img{
	float: right;
	margin: 0 0 30px 28px;
}


h4{
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 8.5px 0;
}
section.section_two{
	background-color: #f2d7bb;
	padding-bottom: 6px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	width: 50%;
	height: 174px;
	/* background-color: rgba(200, 0, 0, .3); */
	padding: 0 10px 27px 0;
	box-sizing: border-box ;
	display: inline-block;
}
li img{
	margin: 0 12px 0 0;
	height: 150px;
	width: 200px;
	float: left;
	display: inline-block;
}
li p{
	text-align: left;
	font-size: 18px;
	margin: 0 20px 0 0;
}
section.section_three{
		background-color: #b4cfce;
}

section.section_three p{
	margin: 35px 116px 66px 116px;
	font-size: 25.5px;
	text-align: center;
	letter-spacing:  -.1px;
	line-height: 35px;
}

footer{
	padding: 38px 10px 27px 80px; ;
	font-size: 18px;	
	background-color: #d92546;
	/* #998c9c */
	letter-spacing: -.3px;
	font-weight: 600;
}
