body {
	background-color: #303030	
}
img{
	position: relative;
}
.center{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 50%;
}
h1 { 
	color: #F52853; font-family: chalkduster; font-size: 64px; text-align: center; margin-top: 10px; margin-bottom: -30px; z-index: 2; position: relative;
}
h2 { 
	color: #119103; font-family: Amboy Black; font-size: 28px; text-align: center; margin-top: 10px; margin-bottom: 5px;
}
h3 {
	color: #119103; font-family: Digital-7; font-size: 20px; text-align: center; margin-top: 5px; margin-bottom: 40px;
}
section {
	color: #F52853; font-family: pt sans; font-size:14; text-align: center; line-height: 20px;
}
footer{
	color: #119103; font-family: Brandon Grotesque; font-size: 12px; text-align: center; margin-top: 20px; margin-bottom: 10px;
}

}