header{
	font-family: "Patua One", sans-serif;
	font-size: 16pt;
	padding: 20px 10px 20px 10px;
	background-color: #a53e23;
	color: white;
	text-align: center;
	margin: auto;
	text-transform: uppercase;
}
body{
	margin: 0;
}
h1{
	font-family: "Patua One", sans-serif;
	font-size: 14pt;
	background-color: #a53e23;
	color: white;
	margin: auto;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
}
h1:first-of-type{
	padding: 100px 10px 20px 40px;
}
h1:last-of-type{
	padding: 50px 10px 20px 40px;
}
div{
	font-family: "Stratos", sans-serif;
	font-size: 10pt;
	background-color: #a53e23;
	color: white;
	padding: 4px 40px 10px 40px;
	margin: auto;
	line-height: 24px
}
ul{
	font-family: "Stratos", sans-serif;
	font-size: 10pt;
	background-color: #a53e23;
	color: white;
	padding: 4px 40px 10px 40px;
	margin: 0;
	line-height: 24px
}
div.info{
	padding: 30px 40px 90px 40px;
	margin: auto;
	margin-bottom: -60px;
	margin-top: -5px;

}
h2{
	font-family: "Stratos", sans-serif;
	font-weight: bold;
	font-size: 10pt;
	background-color: #a53e23;
	color: white;
	padding: 14px 40px 0px 40px;
	margin: auto;
}
img{
	width: 100%;
	height: auto;
	padding: 0 0 0 0;
	margin: auto;
}
img.f_image{
	display: block;
	width: 60%;
	height: auto;
	margin: auto;
	position: relative;
}
h3{
	background-color: #f5e8c5;
	padding: 100px 40px 30px 40px;
	margin: auto;
	margin-top: -200px;
}

.button_container {
	background-color: #a53e23;
	padding: 30px 0 40px 0;
	margin: 0 0 0 0;
	text-align: center;
}
a#btn_nyt{
	font-family: "Patua One", sans-serif;
	font-size: 8pt;
	background-color: #f5e8c5;
	color: #a53e23;
	text-decoration: none;
	display: inline-block;
	height: auto;
	box-sizing: border-box;
	margin: auto;
	padding: 10px 95px 10px 95px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
}
a#btn_nyt:hover{
	background-color: #e4d7b3;
}

